/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform translateX(-120%)
  transition 0.5s
  max-height 1px
  padding 0 !important
  &.order-enter-active
    max-height 60px
    padding 2rem 0 !important
    transform translateX(0)

.order-exit
  transform translateX(0)
  max-height 60px
  transition 0.5s
  &.order-exit-active
    transform translateX(120%)
    max-height 1px
    padding 0 !important

.count-enter
  transform translateY(100%)
  transition 0.5s
  &.count-enter-active
    transform translateY(0)

.count-exit
  transform translateY(0)
  position absolute
  left 0
  bottom 0
  transition 0.5s
  &.count-exit-active
    transform translateY(-100%)